        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }
        
        body {
            min-height: 1000px;
        }
        /* ________________________________________ section 1 ________________________________________*/
        
        p {
            font-weight: 300;
            color: #111;
        }
        
        .banner {
            position: relative;
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url(images/bg.jpg);
            background-size: cover;
        }
        
        .banner .content {
            max-width: 900px;
            text-align: center;
        }
        
        .banner .content h2 {
            font-size: 5em;
            color: #fff;
        }
        
        .banner .content p {
            font-size: 1rem;
            color: white;
        }
        
        .btn {
            font-size: 1em;
            color: #fff;
            background: #ff0157;
            display: inline-block;
            padding: 10px 30px;
            margin-top: 20px;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            transition: .5s;
        }
        
        .btn:hover {
            letter-spacing: 6px;
        }
        /* ________________________________________navbar ________________________________________ */
        
        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 40px 100px;
            z-index: 10000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: .5s;
        }
        
        header.sticky {
            background: #fff;
            padding: 10px 100px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        }
        
        header.sticky .logo {
            color: #111;
            font-weight: 800;
        }
        
        header .logo {
            color: #fff;
            font-weight: 700;
            text-decoration: none;
            font-size: 2rem;
        }
        
        header .logo span {
            color: #ff0157;
        }
        
        header .navigation {
            position: relative;
            display: flex;
        }
        
        header .navigation li {
            list-style: none;
            margin-left: 30px;
        }
        
        header .navigation li a {
            text-decoration: none;
            color: #fff;
            font-weight: 300;
        }
        
        header.sticky .navigation li a {
            color: #111;
        }
        
        header.sticky .navigation li a:hover {
            color: #ff0157;
        }
        /* ________________________________________   SECTION MENU________________________________________*/
        
        section {
            padding: 100px;
        }
        
        .row {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .row .col50 {
            position: relative;
            width: 48%;
        }
        
        .titletext {
            color: #111;
            font-size: 2em;
            font-weight: 300;
        }
        
        .titletext span {
            color: #ff0157;
            font-weight: 700;
            font-size: 1.5em;
        }
        
        .row .col50 .imgBx {
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        .row .col50 .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* dalah untuk membuat gambar menjadi ukuran aslinya dengan mempertahankan rasio nya dah pokoknya kekya ya */
        }
        
        .title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        /* Untuk membuat cardnya */
        
        .menu .content {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            /* memberikan jika tidak muat kesamping maka akan kebawah */
            margin-top: 40px;
        }
        
        .menu .content .box {
            width: 340px;
            margin: 20px;
            border: 15px solid whitesmoke;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
            cursor: pointer;
        }
        
        .menu .content .box .imgBx {
            position: relative;
            width: 100%;
            height: 300px;
        }
        
        .menu .content .box .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .menu .content .box .text {
            padding: 15px 0 5px;
        }
        
        .menu .content .box .text h3 {
            font-weight: 400;
            color: #111;
        }
        /* ________________________________________   SECTION EXPERT ______________________________________*/
        
        .expert .content .box .text h3 {
            font-weight: 400;
            color: #111;
        }
        
        .expert .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 40px;
        }
        
        .expert .content .box {
            width: 250px;
            /* memberikan boxnya menjadi lebar segitu */
            margin: 15px;
            /* memberikan jarak */
            cursor: pointer;
        }
        
        .expert .content .box .imgBx {
            position: relative;
            width: 100%;
            height: 300px;
        }
        
        .expert .content .box .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .expert .content .box .imgBx img:hover {
            transform: scale(.9);
            transition: .5s;
        }
        
        .expert .content .box .text {
            padding: 15px 0 5px;
        }
        
        .expert .content .box .text h3 {
            color: #111;
            font-weight: 400;
        }
        /* ________________________________________   SECTION TESTIMONIALS ______________________________________*/
        
        .testimonials {
            background: url("images/bg2.jpg");
            background-size: cover;
        }
        
        .white .titletext,
        .white p {
            color: white;
        }
        
        .testimonials .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 40px;
        }
        
        .testimonials .content .box {
            width: 340px;
            margin: 20px;
            padding: 40px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .testimonials .content .box .imgBx {
            position: relative;
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
            border-radius: 50%;
            overflow: hidden;
            /* untuk menyembunyikan element secara vertikal */
        }
        
        .testimonials .content .box .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        .testimonials .content .box .text {
            text-align: center;
        }
        
        .testimonials .content .box .text p {
            color: #666;
            font-style: italic;
        }
        
        .testimonials .content .box h3 {
            margin-top: 20px;
            color: #111;
            font-size: 1em;
            color: #ff0157;
            font-weight: 600;
        }
        /* ________________________________________   SECTION CONTACT______________________________________*/
        
        .contact {
            background: url('images/bg3.jpg');
            background-size: cover;
        }
        
        .contactform {
            padding: 75px 50px;
            background: #fff;
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin-top: 50px;
        }
        
        .contactform h3 {
            color: #111;
            font-size: 1.2em;
            margin-bottom: 20px;
            font-weight: 500;
        }
        
        .contactform .inputbox {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            /* untuk mengasih jarak atas dan bawahnya */
        }
        
        .contactform .inputbox input,
        .contactform .inputbox textarea {
            width: 100%;
            border: 1px solid #555;
            padding: 10px;
            outline: none;
            font-size: 16px;
            font-weight: 300;
            resize: none;
            /* berfungsi untuk menghilangkan tarik garis gitu dah yaa */
        }
        
        .contactform .inputbox input[type="submit"] {
            /* bagian ini untuk mengedit send nya yaa */
            color: #fff;
            font-size: 1em;
            background: #ff0157;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: .6s;
            cursor: pointer;
            font-weight: 500;
            border: none;
        }
        
        .copyrighttext {
            padding: 8px 40px;
            text-align: center;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        
        .copyrighttext p {
            color: #333;
        }
        
        .copyrighttext a {
            color: #ff0157;
            font-weight: 500;
            text-decoration: none;
        }